.graphics-container {
    min-height: 100vh;
    margin-top: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(250, 186, 44);
}

.graphics-header {
    font-size: 30px;
    margin-top: 20px;
    color: rgb(250, 186, 44);
    padding: 0px 25px;
}

.graphics-icons {
    display: flex;
    justify-content: center;
}

.graphics-icons-text {
    margin-left: 6px;
    line-height: 10px;
    color: white;
}

.graphics-text-panel {
    margin: 30px;
    background-color: rgb(12, 12, 12);
    border: solid 2px rgb(250, 186, 44);
    border-radius: 7.5px;
    box-shadow: 7px 8px 6px -6px black;
}